<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Hello! I'm Dennis. Regular guy who loves to program, solve problems, watch anime/movies, drive my car, play MMORPGs, and of course, technology. I'm a person of subsequent hobbies. Some things I have dabbled in 
      includes: computer building/overclocking, guitars, cars, and cats. One thing I've noticed about all my hobbies (except for cats) is that I am able to modify and make it better in some way. With the help of my friend Google, 
      I'm able to at least understand the basics of how some thing work and go from there. Check out my <a href="{{ site.nav.main.projects }}">projects</a> to see what software projects I've done so far!
      <!-- Yevgeniy (Jim) Brikman loves programming, writing, speaking, traveling, and lifting heavy things. He does not
      love talking about himself in the 3rd person. He is the co-founder of
      <a href="{{ site.gruntwork_url }}?ref=ybrikman-home" target="_blank">Gruntwork</a>, a company that provides
      DevOps as a Service. He's also the author of two books published by O'Reilly Media:
      <em><a href="{{ site.hello_startup_url }}?ref=ybrikman-home" target="_blank">Hello, Startup</a></em>
      and
      <em><a href="{{ site.terraform_up_and_running_url }}?ref=ybrikman-home" target="_blank">Terraform: Up & Running</a></em>.
      Previously, he worked as a software engineer at LinkedIn, TripAdvisor, Cisco
      Systems, and Thomson Financial and got his BS and Masters at Cornell University. For more info, check out his
      <a href="{{ site.nav.main.writing }}">writing</a>, 
      <a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and 
      <a href="{{ site.nav.main.photos }}">photos</a>. -->
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %} 
  </div>  
</div>
