{% capture project_title_element %}{% if include.project_title_element %}{{ include.project_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb2 py3{% unless include.exclude_divider %} border-bottom border-light-gray circle-line {% endunless %}">
  <div class="col sm-col-4 px2 mb2">
    <!-- <a href="{{ include.project.url }}" target="_blank"> -->
      
      {% capture image_path %}projects/{{include.project.name | downcase | replace:' ','-'}}/{{ include.project.logo }}{% endcapture %}
      {% include image.html path=image_path alt=include.project.name %}
    </a>
  </div>
  <div class="col sm-col-8 px2">
    <!-- <a href="{{ include.project.url }}" target="_blank" name="{{ include.project.name | downcase | replace:' ','-' | remove:',' }}"><{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}></a> -->
    <div><{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}></div>

    <!-- <a href="{{ include.project.url }}" target="_blank" class="block h6 mb2">{{ include.project.url }}</a> -->
    <div class="block h6 mb2">{{ include.project.subtitle }}</div>

    <p class="left-align">{{ include.project.description | markdownify }}</p>
  
    {% for image in include.project.images %}
    <!-- <img src="/assets/img/projects/{{include.project.name | downcase | replace:' ','-' }}/{{image.image}}" class="thumbnail" />  -->
    <!-- Trigger the Modal -->
    <img id="myImg" src="/assets/img/projects/{{include.project.name | downcase | replace:' ','-' }}/{{image.image}}" alt="Snow" style="width:100%;max-width:100px">

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>

      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">

      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>
    {% endfor %} 
  </div>
</div>